.headerContainer{
    text-align: center;
    background: tomato;
    font-weight: bold;
    padding: 2opx;
    margin-bottom: 10px;
}
 
form{
    margin-top: 50px;
    align-content: left;
}
 
div{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}
 
label, input, button{
    font-size: 16px;
    line-height: 1.5;
}
button{
    margin-left: 600px;
}
 
label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
    flex: 2;
}
 
input{
    flex:5;
}
 
error-output{
    font-size: 12px;
    font-style: italic;
    color: red;
    flex: 2;
}